.logo {
  height: 20px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 30px;
  color: white;
}

.split-pane {
  display: flex;
  flex-direction: row;
}

.split-pane-left {
  height: 100vh;
  width: 100px;
}

.separator {
  border: 5px solid black;
  cursor: col-resize;
}
